<br/><br/><br/><br/>
<table  align="center" width="80%">
<td>
 <fieldset><legend><font  size=5> DEPARTAMENTOS SEDUC</font></legend>
   <br/>
   <table>
    <tr>
      <td>
        <div class="botao">
        <table>
          <tr>
            <td>
               <font  size="4"> Selecione Departamento: <%= collection_select :seduc, :departamento_id, @departamentos, :id, :depto, :include_blank => ' -- Selecione -- ' %></font>
                                                                     
              </td>
          </tr>
       </table>
       </div>
      </td>
    <tr>
      <td>
               <%= observe_field 'seduc_departamento_id',
               :update => "departamentos",
              :with => :seduc_departamento_id,
               :url => { :action => 'lista_departamentos' } %>
              <div id='departamentos'></div>
     </td>
   </tr>
  </table>
 </fieldset>

  <div class="botao">
   <table width="100%">
    <tr>
       <td align="left" width="8%" ><%= button_to 'Voltar', homes_path, {:method => "get"} %></td>
       <td align="left" ><input type="Button" Value="Imprimir" onclick="javascript:window.print()"></td>
    </tr>
  </table>
 </div>
</table>
  

