<br/>
<font size="3">
<table  width="100%">
<% for compo in @componentes %>
  <tr>
    <th width="20%">Componente:</th>

    <th><%=h compo.nome %></th>
      <div class="botao">
         <th align="right"><%= button_to('Excluir',{:action => "destroy", :id =>compo}, :confirm => 'Confirma exclusão?', :method => "delete")%></th>
      </div>
    
<% end %>
</table>

</font>
