<br/>
<fieldset><legend><font  size=5> TIPOS DE PROBLEMAS</font></legend>
<font  size="2">
 <table width="100%"  >
  <tr>
    <td width="50%" valign="top">
      <% form_for(@tipos_problemas) do |f| %>
        <fieldset><legend><font  size=4> Cadastrar Tipos</font></legend>
         <table >
           <tr>
             <td colspan="3"width="20%"align="left" ><b>Tipo:</b>
                 <%= f.text_field :tipo %>
                   <%= observe_field 'tipos_problema_tipo',
                      :frequency => 0.1,
                      :update => "cadastrados",
                      :with => :tipo_nome,
                     :url => { :action => 'lista' } %>
            </td>
          </tr>
           <tr>
             <div class="botao">
               <td align="left" width="1%"><%= f.submit "Salvar" %></td>
               <% end %>
               <td align="left" width="1%"><%= button_to 'Voltar', homes_path, {:method => "get"}%></td>
               <td align="left"><input type="Button" Value="Imprimir" onclick="javascript:window.print()"></td>
             </div>
          </tr>
         </table>
        </fieldset>

     </td>
     <td width="50%" valign="top">
         <fieldset><legend><font  size=4> Tipos Problemas Cadastrados</font></legend>
          <table width="100%">
           <tr>
              <td align="left">
                <div id="cadastrados"></div>
              </td>
           </tr>
          </table>
         </fieldset>
       </td>
  </tr>
</table>

</font>
</fieldset>
<br/>







