<br/>
<table width="60%" align="center">
  <tr>
   <td>
    <table width="60%" align="center">
     <tr>
      <td>
       <fieldset><legend><font  size=5>UNIDADE</font></legend>
          <%= render 'form' %>
       </fieldset>
       </td>
     </tr>
    </table>
   </td>
  </tr>
</table>
<br/>