<br/>
 <table align="center"width="50%">
  <tr>
    <td>
      <fieldset><legend><font  size=5> SENHAS</font></legend>
         <%= render 'form' %>
      </fieldset>
    </td>
  </tr>
</table>
<br/>




