<br/>
<table width="6%" align="center">
  <tr>
   <td>
      <fieldset><legend><font  size=5> ORDEM DE SERVIÇO</font></legend>
         <%= render 'form' %>
      </fieldset>

   </td>
  </tr>
</table>
<br/>