<br/>
<table width="50%"align="center">
 <tr>
  <td>
   <fieldset><legend><font  size=5> ORDEM DE SERVIÇO</font></legend>
    <font  size="2">
     <table width="100%">
      <tr> 
        <td>
          <%= render 'formshow' %>
        </td>
      </tr>
      <tr>
        <td>
          <font><b>
            >> ESTA ORDEM DE SERVIÇO SERÁ ATENDIDA ASSIM QUE POSSÍVEL<br/>
            >> QUALQUER DÚVIDA ENTRAR EM CONTARO COM A INFORMÁTICA- SEDUC
          </b></font>
         </td>
      </tr>
       <div class="botao">
         <table width="50%" align="left">
          <tr>
           <td align="left" width="8%"><%= button_to 'Voltar', homes_path, {:method => "get"} %></td>
           <% if current_user.has_role?('administrador') %>
              <td align="left" width="8%"> <%= button_to('Editar', {:action => "edit", :id => @chamados}, :method => "get") %></td>
              <td align="left" width="8%"> <%= button_to 'Cadastrar', new_chamado_path %></td>
          <%end%>
           <td align="left"><input type="Button" Value="Imprimir" onclick="javascript:window.print()"></td>
          </tr>
        </table>
       </div>

     </table>
   </font>
  </fieldset>
 </td>
 </tr>
</table>
<br/>



